Package: python3-fildem
Source: fildem
Version: 0.6.8
Architecture: all
Maintainer: inasis <inasis@mail.com>
Original-Maintainer: Gonzalo <gonza.ar.cr+fildem@gmail.com>
Depends: libbamf3-dev, bamfdaemon, libkeybinder-3.0-dev, appmenu-gtk2-module, appmenu-gtk3-module, unity-gtk-module-common, python3-gi, python3:any
Section: python
Priority: optional
Homepage: https://github.com/inasis/fildem
Description: This is a project forked from the Fildem global menu. 
